/* __________________________________________________________________________ */
/* 	Variables - A way to store information that you want to reuse
	throughout your stylesheet.
   ---------------------------------------------------------------------------*/




/* ========================================================================== */
/* 	BACKGROUND-COLOR
   ========================================================================== */
	$great-agency-green: #25e32b;
	$great-agency-red: #a72828;
	$great-agency-dark: #1d1d1d;
	$great-agency-darker: #101010;
	$great-agency-light: #fff;
	$great-agency-green-hover: #1b531d;
	$great-agency-red-hover: #5b1010;

	



/* ========================================================================== */
/* 	TEXT-COLOR
   ========================================================================== */
	$dark: #000;
	$light: #fff;



/* ========================================================================== */
/* 	FONT
   ========================================================================== */
	$font-stack: neuzeit-grotesk, sans-serif;
	$font-weight-regular: 300;
	$font-size-large: 3.5rem;
	$font-size-small: 2.5rem;
	$line-height-normal: 3rem;


/* ========================================================================== */
/* 	GRID
   ========================================================================== */
	$break-tablet: 991px;
	$break-mobile: 768px;
   	$grid-columns: auto;
	$grid-template-areas: 
	header
	box box
	box box;